<form id="search-form">
    <input type="text" id="search-input"/>
    <button id ="search-button">Search</button>
</form>

<div class ="index-anime"id="search-results">
<script type="text/javascript" src="/search.js"></script>