body {
    background-color: rgb(158, 53, 53);
    color: black;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.header-title {
    background-color: rgba(245, 245, 245, .5);
    border: 5px solid black;
    max-width: 500px;
    align-self: center;
    padding: 5px;
}

.header {
    font-size: 18px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 6px;
    background-image: url('https://wallpaperaccess.com/full/538943.jpg');
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
}

#search-form {
    max-height: 22px;
    margin: 5px;
}

.index-anime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-anime {
    width: 320px;
    height: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.index-image {
    width:  250px;
    min-height: 380px;
    max-height: 400px;
    object-fit: cover;
    border: 5px solid black;
    border-radius: 6px;
}

.individual-anime:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
}

.index-image:hover {
    cursor: pointer;
    border: 5px solid white;
}

.index-title {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding: 2px;
    margin-bottom: 2px;
}

.buttons {
    width: 55px;
}

@media (max-width: 560px) {
    body {
        font-size: 8px;
    }
    .header {
        font-size: 8px;
        margin: 2px;
        background-position: left;
        background-size: cover;
    }
    .header-title {
        border: 2px solid black;
        max-width: 200px;
        margin-bottom: 2px;
    }
    .individual-anime {
        width: 119px;
        height: 160px;
    }
    .index-image {
        width:  65px;
        min-height: 100px;
        max-height: 110px;
        border: 2px solid black;
    }.index-title {
        font-size: 8px;
    }
    p {
        font-size: 6px;
        margin: 2px;
    }
}

@media (min-width: 560px) and (max-width: 1024px) {
    body {
        font-size: 8px;
    }
    .header {
        font-size: 8px;
        margin: 2px;
        background-position: left;
        background-size: cover;
    }
    .header-title {
        border: 2px solid black;
        max-width: 200px;
        margin-bottom: 2px;
    }
    .individual-anime {
        /* width: 320px;
        height: 480px; */
        
        width: 180px;
        height: 260px;
    }
    .index-image {
        /*  width:  250px;
    min-height: 380px;
    max-height: 400px; */
        width:  150px;
        min-height: 190px;
        max-height: 205px;
        border: 2px solid black;
    }.index-title {
        font-size: 8px;
    }
    p {
        font-size: 6px;
        margin: 2px;
    }
}