body {
    background-color: rgb(158, 53, 53);
    color: black;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.header {
    font-size: 18px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 6px;
}

.index-anime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-anime {
    width: 300px;
    height: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.index-image {
    width:  250px;
    min-height: 380px;
    max-height: 400px;
    object-fit: cover;
    border: 5px solid black;
    border-radius: 6px;
}

.index-title {
    padding: 2px;
    margin-bottom: 5px;
}
