<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> AniTrackMe | Edit </title>
  </head>
  <body>
    <h1>Edit:</h1>
  </body>
  <button><a href="/anime">Back to Anime</a></button>
  <button><a href="/plantowatch">Back to Watchlist</a></button>
</html>