<h1>
    Your Plan To Watchlist
</h1>
<button><a href="/anime">Anime List</a></button>
<div>
   <% for(i = 0; i < anime.length; i++) { %> 
    <a href="/anime/<%=anime[i].mal_id%>"><img src="<%= anime[i].image %> " alt=""></a>
    <%= anime[i].title %> 
    <form action="/plantowatch/<%= anime[i]._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
    </form>
    <% } %> 
</div>